<div *ngIf="sensorData">
  <p-table 
    [value]="sensorData" [columns]="cols"
    styleClass="p-datatable-sm bom-table"
    dataKey="id"
    [lazy]="true"
    [lazyLoadOnInit]="false"
    [showCurrentPageReport]="true"
    [loading]="loading"
    [paginator]="true"
    [rowHover]="true"
    [paginatorDropdownAppendTo]="document.body"
    [scrollable]="true"
    scrollHeight="flex"
    (onSort)="onSort($event)">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{ col.header }}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
      </tr>
      <!-- Add filter elements here -->
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          {{ rowData[col.field] }}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-chart type="line" [data]="chartData"></p-chart>
